#-webkit-web-inspector .source-code {
  left: auto;
	right: auto;
	width: 100% !important;
	height: 50%;
}

#-webkit-web-inspector .split-view-sidebar-right {
	left: auto;
	right: auto;
	width: 100% !important;
	height: 50%;
	border-top: 1px solid #ccc;
}

#-webkit-web-inspector .split-view-contents {
	position: static !important;
}
