/* "Elements" panel optimized for vertical layout */
/* left column (DOM) */
#main-panels .elements .source-code {
    left: auto;
    right: auto;
    width: 100% !important;
    height: 70%;
}

/* right column (CSS) */
#main-panels .elements .split-view-sidebar-right {
    left: auto;
    right: auto;
    width: 100% !important;
    height: 30%;
}

#main-panels .elements .split-view-contents {
    position: relative !important;
}

#main-panels .elements .split-view-resizer {
    display: none;
}
